@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
// @include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

.align-center{
	text-align: center;
	justify-content: center
}
.ma_margin
{
	margin: auto;
}
.typo_blanc
{
	color:$white;
}

$bordure-Orange: 3px solid $monOrange;
$bordure-Gris: 3px solid $monGris;
$bordure-Bleu: 0.1em solid $monbleu;
$bordure-Bleu-epaisse: 5px solid $monbleu;
$bordure-Blanc-epaisse: 5px solid $white;
$bordure-Blanc: 0.125rem solid $white;

/*----------------------------------------------------------------------
						MENU PRINCIPAL
------------------------------------------------------------------------*/
.top-bar
{
		border-bottom:$bordure-Orange
}

.menu a 
{
	&:hover
	{
		background-color:$monBlanc;		
		transition: all 0.5s ease;
	}
}
.anim-menu 
{
	width: 100%;
	.menu .mon-effet 
	{
		position: relative;
		&::after 
		{
			content: "";
			position: absolute;
			top: calc(100% - 0.125rem);
			border-bottom: 0.125rem solid $monBlanc;
			left: 50%;
			right:50%;
			margin:0;
			transition: all 0.5s ease;
		}
		&:hover::after 
		{
		left: 0%;
		right:0%;
		transition: all 0.5s ease;
		border-bottom: 0.125rem solid $monBlanc;
		}	
	}
}
/*----------------------------------------------------------------------
						CAROUSSEL
------------------------------------------------------------------------*/
.orbit-wrapper
{
	border-bottom:$bordure-Orange;
}
/*----------------------------------------------------------------------
						CELLULE
------------------------------------------------------------------------*/
.ma-grille-principal
{
	border-right:3px solid $monbleu; 
	border-left:3px solid $monbleu;
}
.ma_cellule_bleu
{
	background-color:$monbleu;
	//padding-top: 50px; 
	//padding-bottom:80px;
	border-top: $bordure-Orange;  
}
.ma_cellule_gris
{
	margin-bottom:3px;
	background-color:$monGris;
	padding: 50px 0;
	border-top: $bordure-Orange;  
	border-bottom: $bordure-Orange;
}
.ma_cellule_blanc
{
	background-color:$white;
}
.bordure-bleu-badge
{
	border:$bordure-Bleu;
	margin-bottom:10px;
	background-color:$white;
}
.bordure-bleu-picto
{
	border:$bordure-Bleu-epaisse;
	margin-bottom:10px;
	background-color:$white;
}
/*----------------------------------------------------------------------
						ASIDE
------------------------------------------------------------------------*/
aside
{
	background-color:$monGris;
}
/*----------------------------------------------------------------------
						BOUTON
------------------------------------------------------------------------*/
 a.button.large:hover
{
	color:$monbleu;
}
/*----------------------------------------------------------------------
						CARD
------------------------------------------------------------------------*/
.design-card
{

	.conteneur-card
	{
		background-color: $white;
		border-right: $bordure-Gris;
		border-left: $bordure-Gris;
	}
	
	.card-section 
	{
		width: 90%;
		height:300px;
		max-height:300px;
		background-color: $white;
		border-radius:50%;
		margin: 0 auto;
		padding-top: 20px;
		margin-top: -6rem;
		z-index: 2;
		
		.card-title
		{
			font-weight: bold;
			font-size: 1.5rem;
			color: $black;
			margin-top: 30px;
			padding: 0 30px;
			font-size: 24px;
			//background-color: red;
			height:70px;
			max-height:70px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		
		.card-texte
		{
			height:77px;
			padding: 0 20px;
			font-size: 1rem;
			margin: 20px 0;
			//background-color: red;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		
		h3
		{
			height:60px;
			max-height:60px;
			color:$monbleu;
			//background-color:pink;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	
	.card-animation 
	{
		height: 3px;
		//width: 100%;
		background: $monbleu;
		width: 0;
		transition: width 1s ease;  
	}
	&:hover .card-animation 
	{
		height: 3px;
		width: 100%;
		transition: width 1s ease;
	}
	
}
/*----------------------------------------------------------------------
						ICONS
------------------------------------------------------------------------*/
.picto
{
	width:130px; 
	height:130px; 
	border-radius:50%; 
	padding:10px 0;
}
i.taille-icons
{
	color:$monbleu;
	font-size:90px; 
}
.menu-picto a 
{
	&:hover
	{
		background-color:$monGris;		
		transition: all 0.5s ease;
	}
	
	&:hover .bordure-bleu-picto
	{
		border:$bordure-Blanc-epaisse;
		background-color:$monbleu;
		transition: all 0.5s ease;
	}
	&:hover i.taille-icons
	{
		color:$white;
		transition: all 0.5s ease;
	}
}
.mon-lien
{
	font-weight: bold;
	min-height:80px;
}
/*----------------------------------------------------------------------
						MASONRY
------------------------------------------------------------------------*/
$masonry-css-column-gap: $global-margin;

.masonry-css 
{

	//width:100%;
	column-count: 1;
	column-gap: $masonry-css-column-gap;
  
	.callout 
	{
		background-color:$monGris;
		padding:30px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	@include breakpoint(400px) 
	{
		column-count: 2;
	}

	@include breakpoint(600px) 
	{
		column-count: 3;
	}

	@include breakpoint(800px) 
	{
		column-count: 4;
	}

	@include breakpoint(1100px) 
	{
		column-count: 4;
	}
}

.masonry-css-item 
{
	break-inside: avoid;
	margin-bottom: $masonry-css-column-gap;
}